html{
    height: 100%;
}

body{
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: auto;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.clr{
    clear:both;
}

.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}



#mainHeader{
    background-color: rgb(174, 10, 10);
    color: rgb(255, 255, 0);
}

#navBar{
    background-color: rgb(40, 40, 40);
    color: #fff;
}

#navBar ul{
    padding: 0;
    list-style: none;
}

#navBar li{
    display:inline;
}

#navBar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}

#navBar a:hover{
    color: rgb(174, 10, 10);
}

#showcase{
    background-image: url('../images/showcase.jpg');
    background-position: center right;
    min-height: 150px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #f4f4f4;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float:left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#mainFooter {
    background: rgb(40, 40, 40);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#mainFooter-socials {
    background: rgb(40, 40, 40);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

#navList li:last-child{
    float: right;
    /*background-image: url(/images/moon.png);
    background-position: right;*/
}

.socials h2{
    padding: 35px 0px;
    margin: 0px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: #fff;
    font-size: 64px;
}

.socials a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
}

.socials ul{
    padding: 0px;
    padding-left: 0px;
    list-style: square;
    margin: 0px;
}

.socials ul li{
    padding-bottom: 3%;
    text-align: center;
    padding-top: 3%;
    font-size: 60px;
    font-weight: bolder;

}

.socials li:first-child{
    background-color:rgb(0, 0, 0);
    background-image: url(/images/twitch.png);
    background-size:contain;
    
    
}

.socials li:nth-child(2){
    background-color:rgb(151, 102, 102);
    font-weight: bolder;
    background-image: url(/images/YouTube-Emblem.png);
    background-size:contain;
}
.socials li:nth-child(3){

    background-color: slateblue;
    background-image: url(/images/discord\ logo.png);
    background-size:contain;
}
.socials li:nth-child(4){

    background-color:rgb(109, 246, 159);
    background-image: url(/images/instagram\ logo.png);
    background-size:contain;
}
.socials li:nth-child(5){

    background-color:rgb(232, 149, 122);
    background-image: url(/images/tiktok.png);
    background-size:contain;
}
.socials li:nth-child(6){

    background-color:rgb(103, 211, 253);
    background-image: url(/images/twitter\ logo.png);
    background-size:contain;
}
.socials li:last-child{

    background-color:rgb(243, 99, 183);
    background-image: url(/images/dingding.png);
    background-size:contain;
}



#whiteboard{
    color: #fff;
    background-color: rgb(37, 37, 37);
    width: 50%;
    margin: 0px;
    padding-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 15px;
    border: 0;
    display: block;
}

#youThought{
    color: #fff;
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin: 0px;
    padding-top: 10%;
    padding-bottom: 0px;
}

#youThoughtMessage{
    color: #fff;
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin: 0px;
    padding-bottom: 3%;
    padding-top: 10px;
}

#comingSoon{
    color: #fff;
    background-color: rgb(37, 37, 37);
    text-align: center;
    padding-bottom: 20%;
    padding-top: 10px;
    width: 100%;
    margin: auto;
}

.button{
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background-color: rgb(174, 10, 10);
    color: #fff;
}

.my-form{
    padding: 20px;
    width: 80%;
    margin: auto;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], input[type="email"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

#aboutTitle{
    color: #333;
}

.box1 {
    display:flex;
}

.buttons1 {
    display:flex;
    margin-left: 20%;
}

.column {
    flex:50%;
}

#button2{
    margin-left: 33%;
}

.button2 {
    background-color: #fff;
    font-size: 24px;
    color: #333;
    padding: 10px 25px;
    margin: 15px;
    margin-bottom: 50px;
    border: none;
}

.button2:hover{
    background-color: rgb(174, 10, 10);
    color: #fff;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
}

/* only goes into effect if under max width */
@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }    
}